<form action="/login" method="POST">
    <h1>Login</h1>

    <input name="email" type="text" placeholder="Please enter your email address">
    <input id="password" name="password" type="password" placeholder="Please enter your password">
    <div class="show-password">
        <input id="showPassword" type="checkbox" onclick="togglePasswordVisibility()">
        <label for="showPassword">Show Password</label>
    </div>

    <button>Submit</button>
</form>